.sidebarHome {
    background-color: var(--background);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 1rem;
    color: var(--whiteAccent);

    .sidebarHome__content {
        display: flex;
        flex-direction: column;
        width: min(100%, 300px);
        gap: 0.5rem;;
    }
}

.sidebarHome hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebarHome .workspaces__title {
    font-size: small;
    color: lightgray;
}