.boards__home__workspace__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .boards__home__workspace__header__buttons {
        display: flex;
        gap: 10px;

        button {
            display: flex;
            align-items: center;
            gap: .5rem;
            background-color: var(--onBackground);
            color: var(--whiteAccent);
            border: none;
            border-radius: 5px;
            padding: .8rem 1.5rem;
            cursor: pointer;

            .boards__home__workspace__header__buttons__icon {
                font-size: 1.5rem;
            }

            &:hover {
                background-color: var(--fadedPrimary);
            }
        }
    }
}

.boards__home__workspace__content {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    height: clamp(100px, 18dvh, 250px);
}
