/* MODIFICARE NOMI, SOLO CLASSI NIENTE DEFAULT */

.navbar_navigation {
    background-color: var(--background);
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.navbar_navigation .buttonDefault {
    border-style: none;
    cursor: pointer;
    background-color: var(--background);
    font-size: 95%;
    border-radius: 5px;
    padding: 10px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px 12px;
    color: var(--whiteAccent);

    &:hover {
        filter: brightness(120%);
    }

    &:disabled {
        cursor: not-allowed;
        filter: grayscale();
    }
}

.navbar_leftNav {
    display: flex;
    align-items: center;
}

.navbar_leftNav img {
    height: 10vh;
}

.navbar_rightNav {
    display: flex;
    align-items: center;
}

.navbar_navigation .searchInput {
    background-color: var(--onBackground);
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 30px;
    height: 28px;
    outline: none;

    &:hover {
        filter: brightness(120%);
    }

    &:focus {
        width: 25rem;
        border: 2px solid var(--primary);
    }
}

.navbar_navigation span {
    margin-left: -3px;
    margin-bottom: -3px;
}