:root {
    --background: #222831;
    --onBackground: #313135;
    --primary: #76abae;
    --whiteAccent: #eeeeee;
    --hover-dark-btn: rgba(205, 205, 205, 0.45);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: orange;
}
